html,
.home-template,
.main-page {
    height: 100%;
}

.main-page .site-header {
    position: fixed;
    height: 65%;
    width: 80%;
    margin-left: 10%;
}
.main-page .navbar {
    height: 100%;
}



.main-page .navbar, .navbar-left, .navbar-right{
    flex-flow: column;
    justify-content: center;
    margin-top: 10%;
}
.main-page .main-menu {
    margin-top: 4vh;
}

.main-page .nav-list {
    flex-flow: column;
}

.main-page .logo-text {
    color: @light-gray-color;
    font-size: 32px;
}
.main-page .menu-item {
    margin: 12px 20px;
}

.main-page .menu-item-link {
    color: @light-gray-color;
    font-size: 24px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}